@import "primeicons/primeicons.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    color: #1a1a1a;
}